<div class="picker">
    <h1>
        {{ formattedMonth }}
    </h1>
    <div class="years">
        <button (click)="rotateYears(-1)" mat-button>
            <i class="bi bi-chevron-left"></i>
        </button>
        <button mat-button
            *ngFor="let year of years"
            [class]="getClassForYear(year)"
            (click)="updateYear(year)">
            {{ year }}
        </button>
        <button (click)="rotateYears(1)" mat-button>
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>

    <div class="months">
        <div *ngFor="let left of months; let i = index">
            <button mat-button [class]="getClassForMonth(i)" (click)="updateMonth(left)">
                {{ left }}
            </button>
        </div>
    </div>

    <div class="calendar">
        <div class="header" *ngFor="let day of days">
            {{ day }}
        </div>
        <div *ngFor="let date of calendar">
            <button
                *ngIf="date"
                mat-button
                (click)="updateDate(date)"
                [class]="getClassForDate(date)">
                {{ date }}
            </button>
        </div>
    </div>

    <div class="actions">
        <button mat-button (click)="getToday()">
            Today
        </button>
        <button mat-button color="primary" class="cancel" (click)="this.cancel.emit()">
            Cancel
        </button>
        <button mat-button color="primary" class="set" (click)="emitNewDate()">
            Set
        </button>
    </div>
</div>
