<div>
    <input
        #input
        matInput
        [id]="_id"
        (focus)="handleFocus()"
        (keydown)="onKeyDown($event)"
        (keyup)="onKeyUp($event)"
        (click)="onClick()"
        (paste)="onPaste($event)"
        [disabled]="disabled" />
    <button class="icon-button" *ngIf="!disabled" [disabled]="disabled">
        <i class="icon bi bi-calendar" (click)="showPicker = true"></i>
    </button>
</div>
<div class="time-picker mat-elevation-z4" *ngIf="showPicker">
    <app-calendar
        *ngIf="value"
        [date]="value"
        (update)="updateValue($event)"
        (cancel)="showPicker = false"
        style="width:100%">
    </app-calendar>
</div>
<div class="active-filter"
    (click)="showPicker = false"
    *ngIf="showPicker">
</div>
