<!-- If there are sections in this template... -->
<form id="sections" [formGroup]="formGroup" *ngIf="template && formGroup">

  <ng-container *ngIf="template.sections">
    <div class="section" *ngFor="let section of template.sections">
      <!-- If there are rows in this section -->
      <ng-container *ngIf="section.rows">
        <div class="row" *ngFor="let row of section.rows">
          <ng-container *ngFor="let item of row.items" [ngTemplateOutlet]="itemBlock"
            [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
        </div>
      </ng-container>

      <!-- If there are items in this section -->
      <div class="no-rows" *ngIf="section.items">
        <ng-container *ngFor="let item of section.items" [ngTemplateOutlet]="itemBlock"
          [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
      </div>
    </div>
  </ng-container>

  <!-- If there are items at the root of this template -->
  <div class="no-rows" *ngIf="template.items">
    <ng-container *ngFor="let item of template.items" [ngTemplateOutlet]="itemBlock"
      [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
  </div>

  <!-- Template rows -->
  <ng-template #itemBlock let-item>
    <div *ngIf="item.visible && formGroup.contains(item.formControlName)"
      [class.toggle]="item.type === type.toggle || item.type === type.toggleShowHide"
      class="item-wrapper"
      [style.width.px]="item.widthAsPx"
      [style.width.%]="item.widthAsPercent"
      [style.flex-basis.%]="item.flexBasis"
      (focusout)="removeUnderline(item)">
      <div
        *ngIf="template.cardView"
        class="card-error"
        [class.card-error-show]="!item.valid">
      </div>
      <!-- Mat Toggle -->
      <mat-checkbox
        (focus)="setUnderline(item)"
        *ngIf="item.type === type.toggle"
        [formControlName]="item.formControlName"
        class="item">
        {{ item.label }}
      </mat-checkbox>
      <!-- Mat Toggle Show/Hide-->
      <mat-checkbox
        (focus)="setUnderline(item)"
        *ngIf="item.type === type.toggleShowHide"
        [formControlName]="item.formControlName"
        class="item">
        {{ item.label }}
      </mat-checkbox>
      <div *ngIf="item.type !== type.toggle && item.type !== type.toggleShowHide"
        class="rfb-input"
        (click)="!item.disabled ? setUnderline(item) : ''"
        [class.elevated]="item.appearance === appearance.elevated"
        [class.color-underline]="(item.valid || !item.touched) && item.focused"
        [class.error-underline]="!item.valid && item.touched"
        [class.card-view]="this.template.cardView"
        [class.plain-view]="!this.template.cardView"
        [class.mat-elevation-z5]="this.template.cardView && item.focused"
        [class.mat-elevation-z1]="this.template.cardView && !item.focused"
        [class.disabled]="item.disabled">
        <div
          class="label"
          [class.label-focus]="(item.valid || !item.touched) && item.focused"
          [class.label-error]="!item.valid && item.touched"
          [class.disabled]="item.disabled">
          {{ item.label }}
        </div>
        <div class="content">
          <ng-container [ngSwitch]="item.type">
            <!-- Date -->
            <app-date-input
              *ngSwitchCase="type.date"
              [_id]="item.formControlName + 'input'" 
              [formControlName]="item.formControlName"
              (focus)="setUnderline(item)"
              class="item"
              [disabled]="item.disabled">
            </app-date-input>
            <!-- Time -->
            <app-time-input
              *ngSwitchCase="type.time"
              [_id]="item.formControlName + 'input'" 
              [formControlName]="item.formControlName"
              [showSeconds]="false"
              (focus)="setUnderline(item)"
              class="item"
              [disabled]="item.disabled">
            </app-time-input>
            <!-- Time With Seconds -->
            <app-time-input
              *ngSwitchCase="type.timeSeconds"
              [_id]="item.formControlName + 'input'" 
              [formControlName]="item.formControlName"
              [showSeconds]="true"
              (focus)="setUnderline(item)"
              class="item"
              [disabled]="item.disabled">
            </app-time-input>
            <!-- Text Input -->
            <ng-container *ngSwitchCase="type.textField">
              <input [id]="item.formControlName + 'input'" (focus)="setUnderline(item)" [placeholder]="item.placeholder" matInput [disabled]="item.disabled"
                [formControlName]="item.formControlName" autocomplete="off">
            </ng-container>
            <!-- Text Area Input -->
            <ng-container *ngSwitchCase="type.textArea">
              <textarea [id]="item.formControlName + 'input'" (focus)="setUnderline(item)" [placeholder]="item.placeholder" matInput [disabled]="item.disabled"
                [formControlName]="item.formControlName" autocomplete="off"></textarea>
            </ng-container>
            <!-- Text Area With Chips -->
            <ng-container *ngSwitchCase="type.chipsInput">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let value of item.value" [selectable]="true" [removable]="true"
                  (removed)="item.remove(value)">
                  <span>{{ item.optionsTextTransform(value) }}</span>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [id]="item.formControlName + 'input'" #input (focus)="setUnderline(item)"
                  [placeholder]="item.placeholder"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="add(item, $event)"
                  [disabled]="item.disabled">
              </mat-chip-list>
            </ng-container>
            <!-- Dropdown -->
            <ng-container *ngSwitchCase="type.dropdown">
              <mat-select [id]="item.formControlName + 'input'"  (focus)="setUnderline(item)" [formControlName]="item.formControlName" placeholder="None" [disabled]="item.disabled">
                <mat-option *ngFor="let option of item.dropdownOptions" [value]="item.dropdownValue(option)">
                  {{ item.dropdownDispValue(option) }}
                </mat-option>
              </mat-select>
            </ng-container>
            <!-- Multi-select Dropdown -->
            <ng-container *ngSwitchCase="type.multiDropdown">
              <!-- Display the selected options as a comma separated list -->
              <mat-select [id]="item.formControlName + 'input'" (change)="_change($event)" (focus)="setUnderline(item)" [formControlName]="item.formControlName" *ngIf="!item.withChips"
                placeholder="None" multiple [disabled]="item.disabled">
                <mat-option *ngFor="let option of item.dropdownOptions" [value]="item.dropdownValue(option)">
                  {{ item.optionsTextTransform(item.dropdownDispValue(option)) }}
                </mat-option>
              </mat-select>
              <!-- Display the selected options as mat-chips -->
              <mat-select [id]="item.formControlName + 'input'" (focus)="setUnderline(item)" [formControlName]="item.formControlName" *ngIf="item.withChips"
                placeholder="None" multiple [disabled]="item.disabled">
                <mat-select-trigger>
                  <mat-chip-list>
                    <!-- [removable]="true"  -->
                    <mat-chip *ngFor="let option of item.value" (removed)="item.remove(option)">
                      {{ item.optionsTextTransform(item.dropdownDispValue(option)) }}
                      <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
                    </mat-chip>
                  </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let option of item.dropdownOptions" [value]="option">
                  {{ item.dropdownDispValue(option) }}
                </mat-option>
              </mat-select>
            </ng-container>
            <!-- Not defined -->
            <ng-container *ngSwitchDefault>
              <div [id]="item.formControlName + 'input'" class="error">Input <i>{{item.type}}</i> is not defined.</div>
            </ng-container>
          </ng-container>
          <span
            *ngIf="item.suffix"
            matSuffix
            class="suffix">
            {{ item.suffix }}
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</form>
<span *ngIf="!template">
  You must import a template to display the form.
</span>
