@import "variables";

form {
  font-size: 0.8em;
  display: flex;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  background: inherit;
}

.mat-select {
  max-width: 70px;
  min-width: 70px;
  margin: auto 0.5em auto 1em;
}

::ng-deep .mat-select-trigger {
  height: 100%;
}
