@import "variables";

.primary {
  color: #00000097;
}

.accent {
  color: $accent;
}

.warn {
  color: $warn;
}

.spin-container {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
}

.jump-and-shake {
  transition: transform 0.1s;
  margin: auto;
}

.jump-and-shake-animate {
  animation-delay: 1s;
  transition: transform 0.1s;
  transform: translate(10%, -50%) rotate(45deg);
}

.jump {
  transition: transform 0.1s;
  margin: auto;
}

.jump-animate {
  animation-delay: 1s;
  transition: transform 0.1s;
  transform: translate(0, -50%);
}

.fall {
  transition: transform 0.1s;
  margin: auto;
}

.fall-animate {
  animation-delay: 1s;
  transition: transform 0.1s;
  transform: translate(0, 50%);
}

.spin-45 {
  margin: auto;
  transform: rotate(-45deg);
}

.spin-45-animate {
  transition: transform 0.1s;
  transform: rotate(135deg);
}

.spin {
  margin: auto;
}

.spin-animate {
  transition: transform 0.5s;
  transform: rotate(360deg);
}
