<div>
    <input
        [id]="_id"
        #input
        matInput
        artia-label="time"
        (focus)="onFocus()"
        (keydown)="onKeyDown($event)"
        (keyup)="onKeyUp($event)"
        (click)="onClick()"
        (paste)="onPaste($event)"
        [disabled]="disabled" />
    <button class="icon-button" *ngIf="!disabled" [disabled]="disabled">
        <i class="icon bi bi-clock" (click)="showPicker = true"></i>
    </button>
</div>
<div class="time-picker mat-elevation-z4" *ngIf="showPicker">
    <app-time-picker [currentTime]="value" [showSeconds]="showSeconds"
        (updateTime)="updateValue($event)"
        (cancel)="showPicker = false" style="width:100%"></app-time-picker>
</div>
<div class="active-filter"
    (click)="showPicker = false"
    *ngIf="showPicker">
</div>
