@import "variables";

.standard-view-injected {
  padding: 1rem;
  border-bottom: $soft-border;
}

.table-view {
  border: $soft-border;
  border-bottom: none;

  th,
  td {
    padding: 0.5em 1em;
    border-bottom: $soft-border;
    border-right: $soft-border;
  }

  .td-icon, .th-icon {
    padding: 0;
    border-right: none;
  }

  .no-border-right {
    border-right: none;
  }

  th {
    background: whitesmoke;
  }

  th:nth-last-child(1) {
    border-right: none;
  }

  td {
    background: $z2-background;
  }

  td:nth-last-child(1) {
    border-right: none;
  }

  .injected {
    padding: 0;
    border-bottom: none;
  }

  .animated-icon {
    margin: .5rem;
  }
}
