<div class="picker">
    <div [class]="gridWidth">
        <h1>{{ this.hours[3] | makeTwoDigits }}</h1>
        <h1>&#58;</h1>
        <h1>{{ this.minutes[3] | makeTwoDigits }}</h1>
        <h1 *ngIf="showSeconds">&#58;</h1>
        <h1 *ngIf="showSeconds">{{ this.seconds[3] | makeTwoDigits }}</h1>
    </div>

    <div [class]="gridWidth">
        <div class="time-scroll" (wheel)="scrollHours($event)">
            <div class="time"*ngFor="let hour of hours">
                <button
                    (click)="setVal(clicked.hour, hour)">
                    {{ displayNum(hour, 23) | makeTwoDigits }}
                </button>
            </div>
        </div>
        <div class="time-scroll">
            <div class="time" *ngFor="let disp of colonDisplay">
                <button [innerHTML]="disp"></button>
            </div>
        </div>
        <div class="time-scroll" (wheel)="scrollMinutes($event)">
            <div class="time" *ngFor="let minute of minutes">
                <button
                    (click)="setVal(clicked.minute, minute)">
                    {{ displayNum(minute, 59) | makeTwoDigits }}
                </button>
            </div>
        </div>
        <div *ngIf="showSeconds" class="time-scroll">
            <div class="time" *ngFor="let disp of colonDisplay">
                <button [innerHTML]="disp"></button>
            </div>
        </div>
        <div *ngIf="showSeconds" class="time-scroll" (wheel)="scrollSeconds($event)">
            <div class="time" *ngFor="let second of seconds">
                <button (click)="setVal(clicked.second, second)">
                    {{ displayNum(second, 59) | makeTwoDigits }}
                </button>
            </div>
        </div>
    </div>

    <div class="actions">
        <button mat-button (click)="getNow()">
            Now
        </button>
        <button mat-button color="primary" class="cancel" (click)="this.cancel.emit()">
            Cancel
        </button>
        <button mat-button color="primary" class="set" (click)="set()">
            Set
        </button>
    </div>
</div>
